
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  margin-left: 2em;
  max-width: 700px;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}

.imageblock.right {
  float: right;
}

.toc {
  font-size: 90%;
  border-left: 1px solid lightgray;
  padding: 10px;
  padding-bottom: 10000px;
  position: fixed;
  left: 770px;
  top: 2em;
}

.hdlist1 {
  font-weight: bold;
  margin-bottom: -15px;
}

table .title {
  margin-top: 15px;
  font-size: 90%;
  font-style: italic;
  text-align: left;
}

h1, h2, h3, h4 {
  margin-top: 50px;
  border-bottom-style: solid;
  border-color: lightgray;
  border-width: 1px;
  font-size: 110%;
}

td {
  font-size: 95%;
  border-top-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding-right: 30px;
  vertical-align: top;
}

pre {
  padding: 10px;
  font-family: Inconsolata, Consolas;
  font-size: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  overflow: auto;
  background: #F8F9F9;
}

.ulist ul {
  margin-top: 20px;
}

.ulist ul li {
  margin-top: -10px;
}

.dhlist1 {
  font-style: bold;
}

#shadow .content img {
  box-shadow: 10px 10px 5px grey;
}

#index {
    transform: rotate(270deg);
    position: fixed;
    margin-left: -3em;
    margin-top: 1em;
}
