
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  margin-left: 2em;
  max-width: 750px;
  margin: auto;
  margin-bottom: 200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #FFF;
}

a:link { text-decoration: none; }
a:hover{ text-decoration: underline; }

.imageblock.right {
  float: right;
}

.toc {
  font-size: 95%;
  padding: 10px;
  top: 2em;
  text-decoration: none;
}

.hdlist1 {
  font-weight: bold;
  margin-bottom: -15px;
}

table .title {
  margin-top: 15px;
  font-size: 90%;
  font-style: italic;
  text-align: left;
}

h1, h2 {
  margin-top: 50px;
  border-bottom-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 120%;
  font-weight: bold;
}

h3, h4 {
  margin-top: 50px;
  border-bottom-style: solid;
  border-color: lightgray;
  border-width: 1px;
  font-size: 110%;
}


td {
  font-size: 95%;
  border-top-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding-right: 30px;
  vertical-align: top;
}

pre {
  padding: 10px;
  font-family: Inconsolata, Consolas;
  font-size: 95%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  overflow: auto;
  background: #F8F9F9;
  margin-left: 20px;
  width: 90%;
}

.ulist ul {
  margin-top: 20px;
}

.ulist ul li {
  margin-top: -10px;
}

.dhlist1 {
  font-style: bold;
}

#shadow .content img {
  box-shadow: 10px 10px 5px grey;
}

