
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  margin-left: 2em;
  max-width: 700px;
  margin: auto;
  margin-bottom: 200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

a { color: #5778d8; }
a:link { text-decoration: none; }
a:hover{ text-decoration: underline; }

.imageblock.right {
  float: right;
}

.toc {
  font-size: 95%;
  padding: 10px;
  top: 2em;
  text-decoration: none;
  margin-bottom: 40px;
  padding: 30px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 5px 5px 2px grey;
}

.hdlist1 {
  font-weight: bold;
  margin-bottom: -15px;
}

table .title {
  margin-top: 15px;
  font-size: 90%;
  font-style: italic;
  text-align: left;
}

h1, h2, h3, h4 {
  font-size: 110%;
  color: #5778d8;
}

h2 { background-color: #5778d8; color: #fff }

td {
  font-size: 95%;
  border-top-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding-right: 30px;
  vertical-align: top;
}

pre {
  padding: 10px;
  font-family: Inconsolata, Consolas;
  font-size: 95%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  overflow: auto;
  background: #F8F9F9;
}

.ulist ul {
  margin-top: 20px;
}

.ulist ul li {
  margin-top: -10px;
}

.dhlist1 {
  font-style: bold;
}

.sect2 {
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 5px 5px 2px grey;
}

#shadow .content img {
  box-shadow: 10px 10px 5px grey;
}

